@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Midtown Art Gallery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;400;700&family=Assistant:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <div id="mag">Midtown Art Gallery</div>
        <div class="nav">
            <span id="admin-portal" class="bold">
                <a asp-controller="Home" asp-action="Index">ADMIN PORTAL</a>
            </span> | &nbsp;
            <a class="navlink" asp-controller="Artists" asp-action="Index">Artists</a>
            <a class="navlink" asp-controller="Artworks" asp-action="Index">Artworks</a>
            <a class="navlink" asp-controller="Categories" asp-action="Index">Categories</a> | &nbsp;
            @if (SignInManager.IsSignedIn(User))
            {
                <a id="manage" class="navlink" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="navlink">Log Out</button>
                </form>
            }
            else 
            {
                <a class="navlink" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a class="navlink" id="login" asp-area="Identity" asp-page="/Account/Login">Log In</a>    
            }
        </div>
    </header>

    <main role="main">
        @if (SignInManager.IsSignedIn(User) && ViewData["Controller"] != null && ViewBag.Links != null)
        {
            <partial name="/Views/Shared/_LocalNavPartial.cshtml" />
        }
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
