<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Midtown Art Gallery</title>
    <partial name="/Views/Shared/_HeadLinksPartial.cshtml" />
</head>
<body>

    <header>
        <div id="mag">Midtown Art Gallery</div>
        <partial name="/Views/Shared/_PrimaryNavPartial.cshtml" />
    </header>

    @if (ViewData["Controller"] != null && ViewBag.Links != null)
    {
        <partial name="/Views/Shared/_SecondNavPartial.cshtml" />
    }

    <main role="main">
        @RenderBody()
    </main>

</body>
</html>
