<div class="nav">
    <span id="admin-portal" class="bold">
        <a asp-controller="Home" asp-action="Index">ADMIN PORTAL</a>
    </span> | &nbsp;
    <span class="faux-link">Artists</span>
    <a class="navlink" asp-controller="Artworks" asp-action="Index">Artworks</a>
    <span class="faux-link">Styles</span>
</div>