@* TODO 6: Import AddArtViewModel *@

@{
    ViewData["Title"] = "ADD ARTWORK";
    ViewData["Controller"] = "Artworks";
    ViewBag.Links = new Dictionary<string, string> 
        {
            { "Index", "View All Artworks"},
            { "Delete", "Delete Artworks" }
        };
}

<div class="main">
    <h3>Add Artwork</h3>
    @*TODO 6: Update form with asp-controller and asp-action attributes *@
    <form method="POST">
        @* TODO 6: replace type/name with asp-for on inputs *@
        @* TODO 8: Add spans with text-danger class for error msg *@
        <div class="form-item col-4">
            <input type="text" name="title" placeholder="Title" />
        </div>
        <div class="form-item col-4">
            <input type="text" name="artist" placeholder="Artist" />
        </div>
        @* TODO 10: Add style select *@
        <button type="submit">Add to Collection</button>
    </form>
</div>