@* TODO 6: Import AddArtViewModel *@
@using CSharpExampleArtGallery
@model AddArtViewModel

@{
    ViewData["Title"] = "ADD ARTWORK";
    ViewData["Controller"] = "Artworks";
    ViewBag.Links = new Dictionary<string, string> 
        {
            { "Index", "View All Artworks"},
            { "Delete", "Delete Artworks" }
        };
}

<div class="main">
    <h3>Add Artwork</h3>
    @*TODO 6: Update form with asp-controller and asp-action attributes *@
    <form asp-controller="Artworks" asp-action="Add" method="POST">
        @* TODO 6: replace type/name with asp-for on inputs *@
        @* TODO 8: Add spans with text-danger class for error msg *@
        <div class="form-item col-4">
            <input asp-for="Title" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-item col-4">
            <input asp-for="Artist" placeholder="Artist" />
            <span asp-validation-for="Artist" class="text-danger"></span>
        </div>
        @* TODO 10: Add style select and span for error message *@
        <div class="form-item col-4">
            <select asp-for="Style" asp-items="Model.Styles"></select>
        </div>
        <button type="submit">Add to Collection</button>
    </form>
</div>