@{
    ViewData["Title"] = "ADD ARTWORK";
    ViewData["Controller"] = "Artworks";
    ViewBag.Links = new Dictionary<string, string> 
        {
            { "Index", "View All Artworks"}
        };
}

<div class="main">
    <h3>Add Artwork</h3>
    <form method="POST"> <!-- implicitly sends to same route -->
        <div class="form-item col-4">
            <input type="text" name="artwork" placeholder="Title" />
        </div>
        <button type="submit">Add to Collection</button>
    </form>
</div>