@{
    ViewData["Title"] = "ADD ARTWORK";
    ViewData["Controller"] = "Artworks";
    ViewBag.Links = new Dictionary<string, string> 
        {
            { "Index", "View All Artworks"}
        };
}

@* TODO 7: Add info for link to Delete above *@

<div class="main">
    <h3>Add Artwork</h3>
    <form method="POST">=
        @* TODO 2: Modify form to accept input for title and artist *@
        <div class="form-item col-4">
            <input type="text" name="artwork" placeholder="Title" />
        </div>
        <button type="submit">Add to Collection</button>
    </form>
</div>