@using CSharpExampleArtGallery
@model AddArtViewModel

@{
    ViewData["Title"] = "ADD ARTWORK";
    ViewData["Controller"] = "Artworks";
    ViewBag.Links = new Dictionary<string, string> 
        {
            { "Index", "View All Artworks"},
            { "Delete", "Delete Artworks" }
        };
}

<div class="main">
    <h3>Add Artwork</h3>

    <form asp-controller="Artworks" asp-action="Add" method="POST">
        <div class="form-item col-4">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-item col-4">
            <label asp-for="ArtistId">Artist</label>
            <select asp-for="ArtistId" asp-items="Model.Artists"></select>
        </div>
        @* TODO 14: Replace with checkboxes to allow multiple categories to be selected *@
        <div class="form-item col-4">
            <label asp-for="CategoryId">Category</label>
            <select asp-for="CategoryId" asp-items="Model.Categories"></select>
        </div>
        <div class="form-item col-4">
            <label asp-for="YearCreated">Year Created</label>
            <input asp-for="YearCreated" />
            <span asp-validation-for="YearCreated" class="text-danger"></span>
        </div>
        <div class="form-item col-4">
            <label asp-for="Media">Media</label>
            <input asp-for="Media" />
            <span asp-validation-for="Media" class="text-danger"></span>
        </div>
        @* TODO 6: Add input fields for description, height, width, and depth *@
        <div class="form-item col-4">
            <label asp-for="ImageId">Image ID</label>
            <input asp-for="ImageId" />
            <span asp-validation-for="ImageId" class="text-danger"></span>
        </div>
        <button type="submit">Add to Collection</button>
    </form>
</div>
