@* TODO 6: Import AddArtViewModel *@
@using CSharpExampleArtGallery
@model AddArtViewModel

@{
    ViewData["Title"] = "ADD ARTWORK";
    ViewData["Controller"] = "Artworks";
    ViewBag.Links = new Dictionary<string, string> 
        {
            { "Index", "View All Artworks"},
            { "Delete", "Delete Artworks" }
        };
}

<div class="main">
    <h3>Add Artwork</h3>
    @*TODO 6: Update form with asp-controller and asp-action attributes *@
    <form asp-controller="Artworks" asp-action="Add" method="POST">
        @* TODO 6: replace type/name with asp-for on inputs *@
        <div class="form-item col-4">
            <input asp-for="Title" placeholder="Title" />
        </div>
        <div class="form-item col-4">
            <input asp-for="Artist" placeholder="Artist" />
        </div>
        <button type="submit">Add to Collection</button>
    </form>
</div>