@* TODO 4: Import the model and replace use of ViewBag.ArtworksList *@

@{
    ViewData["Title"] = "DELETE ARTWORKS";
    ViewData["Controller"] = "Artworks";
    ViewBag.Links = new Dictionary<string, string> 
        {
            { "Index", "View All Artworks"},
            { "Add", "Add a New Artwork"}
        };
}

<div class="main">
    <h3>Delete Artworks</h3>
    @if (ViewBag.ArtworksList?.Count > 0)
    {
        <form method="POST">
            <div class="checkbox-group">
                @foreach (Artwork artwork in ViewBag.ArtworksList)
                {
                    <label>
                        <input type="checkbox" name="artworkIds" value="@artwork.Id" />
                        <span>@artwork</span>
                    </label>
                }
            </div>
            <button class="delete" type="submit">Delete Selected Artworks</button>
        </form>
    }
    else
    {
        <em>No artworks to display.</em>
    }
</div>
