@* TODO 5: Import the model and replace use of ViewBag.ArtworksList *@

@{
    ViewData["Title"] = "OUR COLLECTION";
    ViewData["Controller"] = "Artworks";
    ViewBag.Links = new Dictionary<string, string> 
        {
            { "Add", "Add a New Artwork"},
            { "Delete", "Delete Artworks" }
        };
}

<div class="main">
    <h2>ARTWORKS</h2>

    @if(ViewBag.ArtworksList?.Count > 0)
    {
        @* TODO 12: Update table to display Style in 4th column *@
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Artist</th>
                </tr>
            </thead>
            @foreach(Artwork artwork in ViewBag.ArtworksList)
            {
                <tr>
                    <td>@artwork.Id</td>
                    <td>@artwork.Title</td>
                    <td>@artwork.Artist</td>
                </tr>
            }
        </table>
    }
    else
    {
        <em>No artworks to display.</em>
    }
</div>
