@{
    ViewData["Title"] = "OUR COLLECTION";
    ViewData["Controller"] = "Artworks";
    ViewBag.Links = new Dictionary<string, string> 
        {
            { "Add", "Add a New Artwork"}
        };
}

<div class="main">
    <h2>ARTWORKS</h2>

    @if(ViewBag.artworkList.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            @foreach(string artwork in ViewBag.artworkList)
            {
                <tr>
                    <td>@artwork</td>
                </tr>
            }
        </table>
    }
    else
    {
        <em>No artworks to display.</em>
    }
</div>
