@{
    ViewData["Title"] = "OUR COLLECTION";
    ViewData["Controller"] = "Artworks";
    ViewBag.Links = new Dictionary<string, string>() 
        {
            { "Add", "Add a New Artwork"}
        };
}

<div class="main">
    <h2>ARTWORKS</h2>

    @if(ViewBag.ArtworksList?.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach(string artwork in ViewBag.ArtworksList)
                {
                    <tr>
                        <td>@artwork</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <em>No artworks to display.</em>
    }
</div>
