@page
@model EmailModel
@{
    ViewData["Title"] = "Change Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="col-8">
    <form id="email-form" method="post">
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
        <div class="form-item">
            <label asp-for="Email"></label>
            <input asp-for="Email" placeholder="Please enter your email." disabled />
        </div>
        <div class="form-item">
            <label asp-for="Input.NewEmail"></label>
            <input asp-for="Input.NewEmail" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
        </div>
        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail">Change Email</button>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
