@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The home page is not yet set up.</p>
    <p>Go to the <a href="/gallery">gallery</a> page.</p>
</div>
