@* TODO: Change title in <head> in _Layout.cshtml *@
@{
    ViewData["Title"] = "Home Page";
}

@* TODO: Adjust CSS as needed *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* TODO: Link to /artworks  *@
</div>

@* TODO: Add image *@
