@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "WELCOME";
}

<div class="main">
    <h1>Welcome</h1>
    <p>This portal will allow you to help manage our <a asp-controller="Artworks" asp-action="Index">collection</a> of fine art.</p>
    @if (!SignInManager.IsSignedIn(User))
    {
        <p><a asp-area="Identity" asp-page="/Account/Login">Log in</a> to get started.</p>
    }
</div>

<img src="~/images/gallery.png" width="100%" alt="Photo of Midtown Art Gallery" />
