@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project doesn't have any content in the <b>main</b> branch!</p>
    <p>Switch to one of the <b>starter code</b> or <b>solution</b> branches depending on which chapter you're in.</p>
</div>
