@* TODO 3: Change title for use in <head> in _Layout.cshtml *@
@{
    ViewData["Title"] = "Home Page";
}

@* TODO 2: Remove default CSS *@
@* TODO 8: Add CSS class to div *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* TODO 2: Add sentence with link to /artworks  *@
    @* TODO 6: Update link with Razor syntax *@
</div>

@* TODO 9: Add image *@
